@import './main.scss';

.content {
    margin: 40px;

    &-header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        vertical-align: middle;

        .endpoint-name {
            font-size: 36px;
        }

        .button-container {
            flex: 1;
            max-width: 130px;
        }
        
        %split-button {
            background-color: $lightBlue;
            border-radius: 8px 0px 0px 8px;
            border: none;
            color: white;
            font-size: 16px;
            outline: none;
            padding: 16px;
            width: $buttonWidth;
        }

        .split-button {
            @extend %split-button;

            &-right {
                @extend %split-button;
                border-left:1px solid $steelBlue;
                border-radius: 0px 8px 8px 0px;
                padding: 16px 8px 16px 8px;
                width: 40px;
            }
        }

        .dropdown {
            display: inline-block;
            position: absolute;
        }

        .dropdown-content {
            background-color: $textFieldBackground;
            border-radius: 4px;
            box-shadow: 4px 4px 2px 2px lightgray;
            display: none;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 300;
            left: -$buttonWidth;
            min-width: 130px;
            position: absolute;
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .split-button:hover, .split-button-right:hover, .dropdown:hover .btn  {
            background-color: $steelBlue;
        }

        .tooltip {
            display: inline-block;
            position: relative;
        }
        
        .tooltip .tooltip-text {
            background-color: black;
            border-radius: 6px;
            bottom: 120%;
            color: #fff;
            font-size: 12px;
            left: 50%;
            margin-left: -80px;
            padding: 5px 0;
            position: absolute;
            text-align: center;
            visibility: hidden;
            width: 160px;
            z-index: 1;
        }

        .tooltip .tooltip-text::after {
            content: " ";
            border-color: black transparent transparent transparent;
            border-style: solid;
            border-width: 5px;
            left: 50%;
            margin-left: -5px;
            position: absolute;
            top: 100%; 
        }
        
        .tooltip:hover .tooltip-text {
            visibility: visible;
        }
    }
}

section {
    display: -webkit-flex;
    display: flex;

    .editor-container {
        flex: 1;
    }
}

@media (max-width: 600px) {
    .content-header {
        flex-flow: column;
    }

    section {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}