// Color palette
$almostBlack: #3B2A2A;
$background: #FBFBFB;
$darkGray: #AF9AA3;
$lightBlue: #498FC7;
$steelBlue: #2C6FA4;
$textFieldBackground: #F6F6FB;

$buttonWidth: 90px;

body {
    background-color: $background;
    font-family: Arial, Helvetica, sans-serif
}
