@import './main.scss';

.navigation {
    background-color: #333;
    border-top: solid 6px darkred;
    color: gray;
    height: auto;
    overflow: hidden;
    padding: 20px;

    &-name {
        display: inline;
        font-size: 20px;
        font-weight: 400;
    }

    &-version {
        display: inline;
        font-size: 16px;
        font-weight: 100;
    }
}